@media (min-width:481px)  {
    .nav{
        flex-direction: column;
    }
}
.nav{
    justify-content: start;
    flex-direction: row;
    width: 90vw;
    margin:0;
    position: fixed;
    font-size: calc(10px + 2vmin);
}
.nav>a{
    margin-left:10px;
    color: green;
    text-decoration: none;
}

.nav>div{
    width: fit-content;
    color: green;
    float: right;
}

.nav>a:hover{
    background-color: #282c3480;
    color: rgba(0, 128, 0, 0.52);
}